-i https://pypi.org/simple
git+https://github.com/slo-covid-19/sheet2csv.git@5608132207744185bcdd04b0260ab48a93fb06cd#egg=sheet2csv
numpy==1.19.2; python_version >= '3.6'
pandas==1.1.2
python-dateutil==2.8.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pytz==2020.1
six==1.15.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
